.herosection
{
    background-color:#F8E5E0;;
}
.hero-img img
{
    width: 400px;
    height: 400px;
}
.head1
{
    padding-left: 40%;
}
.h1
{
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}